.gameUiDiv {
    margin-bottom: 3rem;
    text-align: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    margin-top: -0.5rem;
}

.gameBoard {
    border-collapse: collapse;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .gameBoard tr {
    display: flex;
  }
  
  .gameBoard td {
    width: 35px;
    height: 35px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
  }
  
  .gameBoard .green {
    background-color: #4caf50;
    color: white;
  }
  
  .gameBoard .yellow {
    background-color: #ffca28;
    color: white;
  }
  
  .gameBoard .red {
    background-color: #b80000 !important;
    color: white;
  }

.guessInput, .guessButton {
    font-size: large;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.returnButton {
    width: fit-content;
    margin: auto;   
}

.changeDifficultyButton, .restartButton {
    width: fit-content;
    margin: auto;   
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.scoreSubmitButton {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.returnButton, 
.changeDifficultyButton, 
.restartButton, 
.scoreSubmitButton,
.guessButton {
    padding: 5px 10px;
    transition: background-color 0.2s;
    background-color: #ccc7c7;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    color: #2C3639;
}

.returnButton:hover, 
.changeDifficultyButton:hover, 
.restartButton:hover, 
.scoreSubmitButton:hover,
.guessButton:hover {
    background-color: #4C4C4C;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}