.difficultyDiv {
    margin-bottom: 3rem;
    text-align: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    margin-top: -0.5rem;
    
}

.startButtonSpan {
    button {
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 5px 10px;
        transition: background-color 0.2s;
        background-color: #ccc7c7;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 3px;
        border: none;
        color: #2C3639;
    }

    button:hover {
        background-color: #4C4C4C;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
    }
}


.selectLetters {
    margin-left: 4.3rem;
    padding: 3px 7px;
    transition: background-color 0.2s;
    background-color: #ccc7c7;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    color: #2C3639;
}

.selectRepeatingLetters {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 3px 7px;
    transition: background-color 0.2s;
    background-color: #ccc7c7;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    color: #2C3639;
}

.selectLetters:hover, .selectRepeatingLetters:hover {
    background-color: #4C4C4C;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}