div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

table {
    
    text-align: center;
    padding: 2px;
    padding-bottom: 1rem;

    p {
      color: slategray;
    }
    
  }
  
.mainDivHighScores {
    
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    margin-top: -1rem;
    border-radius: 4px;
    
    }
