footer {

    color: #2C3639;
    padding: 10px;
    text-align: center;
    font-size: 14px;

    h1 {
        text-align: center;
    }

    p {
        margin: 5px 0;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

    a:hover {
        text-decoration: underline;
    }


}

.mainDivFooter {
    
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: #EAD9C6;
    border: 2px solid #5A4638;
    border-radius: 4px;
        
}
