.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.highscoreSubmitButtonsDiv {
    display: inline-block;
}

.submitButton, .cancelButton {
    padding: 5px 10px;
    transition: background-color 0.2s;
    background-color: #ccc7c7;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    color: #2C3639;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.submitButton:hover, .cancelButton:hover {
    background-color: #4C4C4C;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

.submitForm {
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;

    input {
        font-size: large;
        max-width: 60%;
        text-align: center;
    }

}

.guessSpan, .wordLengthSpan, .uniqueLetterSpan {
    color: #005B00;
    font-weight: 500;

}
