body {
    background: linear-gradient(to bottom, #FDF8F0 0%, #EAD9C6 100%) fixed;
    font-family: Arial, sans-serif;
    
}

header, main {

    color: #2C3639;

    h1 {
        text-align: center;
    }

}



